<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
          <!-- Service Start -->
          <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
                    <h1 class="mb-5">Our <%= title%></h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a href="/pizza" class="text-dark">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <h5 class="text-center">Pizza</h5>
                                <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                            </div>
                        </div>
                    </a>
                    </div>
                   
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a href="/drinks" class="text-dark">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <h5 class="text-center">Drinks</h5>
                                <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a href="/desi" class="text-dark">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <h5 class="text-center">Desi</h5>
                                <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <a href="#" class="text-dark">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <h5 class="text-center">Chineese</h5>
                                <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
<%- include('./partials/footer') %>